<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Tasks</title>
    <link href="style/styles.css" rel="stylesheet">
    <script type="text/javascript" src="script/my.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
<div class="main_block">
    <div class="block">
        <h1>Tasks editor</h1>
    </div>
    <div class="block">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.description}" th:id="'description_' + ${task.id}"></td>
                <td th:text="${task.status}" th:id="'status_' + ${task.id}"></td>
                <td th:id="'td_edit_' + ${task.id}">
                    <input th:id="'edit_' + ${task.id}" th:type="button" th:onclick="'edit_task(' + ${task.id} + ')'"
                           th:value="Edit">
                </td>
                <td>
                    <button th:id="'delete_' + ${task.id}" th:onclick="'delete_task(' + ${task.id} + ')'">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="block">
        <h2>Add new value</h2>
    </div>
    <div class="block">
        <table>
            <tbody>
            <tr>
                <td>-</td>
                <td>
                    <label for="description_new"></label>
                    <input id="description_new" name="description" type='text'/>
                </td>
                <td>
                    <label for="status_new"></label>
                    <select id="status_new" name="status">
                        <option th:each="status_value: ${session.statuses}" th:text="${status_value.name()}"></option>
                    </select>
                </td>
                <td>
                    <input th:id="save_new" th:type="button" th:onclick="add_task()" th:value="Save">
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="block">
        <h2>
            <button th:each="pageNumber : ${page_numbers}" class="button_page">
                <a th:href="@{/(page=${pageNumber}, limit=10)}" th:text="${pageNumber}"
                   th:classappend="${pageNumber == current_page? 'active_page' : ''}"></a>
            </button>
        </h2>
    </div>
</div>
</body>
</html>
